[PrimaryToken]
primarytokenname = GET Protocol
primarytokensymbol = GET
primarytokencontractaddress = 0x51aCf0aF77AdCb20de482e1cD678f620baF07e0C

[EtherScanAPI]
etherscanapikey = 8ZWPRMTZCQMD184A2GPYX1ZA3NK5KAD4VR

[Uniswap]
uniswapaddress = 0x2680a95fc9de215f1034f073185cc1f2a28b4107

[Process]
lastprocessedblocknumber = 0

[Telegram]
telegramapitoken = 1744040217:AAGpiXRYe3rToJU3Ndj-uwDkvoY0fQlRj9s
telegramactivatedchannels = None
telegramlastprocessedupdateid = 0

[Advanced]
pairtokendecimals = 18
